<!doctype html>
<html>
  <head>
    <title>BBC R&amp;D OAuth2 Server</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div class=page>
      <h1><a href="{{ url_for('.home') }}">R&amp;D Authorisation Server</a></h1>

      <script type="text/javascript"
        src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
      </script>
      <script>
        window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.js') }}">\x3C/script>')
      </script>
      <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
