{% extends "layout.html" %}
{% block body %}
 <script src="static/main.js"></script>

<br>
<form action="/request_token" method="post">
  <span>Client ID</span>
  <label>
    <input type="text" name="client_id" id="client_id"
           placeholder="client_id" value="{{client.client_id}}"
           readonly="readonly"><br>
  </label>
  <label>
    <span>Client Secret</span>
    <input type="text" name="client_secret" id="client_secret"
           placeholder="client_secret" value="{{client.client_secret}}"
           readonly="readonly"><br>
  </label>
  <label>
    <span>Username</span>
    <input type="text" name="username" id="username"><br>
  </label>
  <label>
    <span>Password</span>
    <input type="text" name="password" id="password"><br>
  </label>
  <label>
    <span>Scope</span>
    <input type="text" name="scope" id="scope"
           placeholder="is04 or is05"><br>
  </label>
</form>

<button id="token">Get Token</button>
<br />
<div id="pageDiv"></div>
<br />
<button id="resource">TEST</button><br>



{% endblock %}
