<!doctype html>
<html>
  <head>
    <title>BBC R&amp;D OAuth2 Server</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="http://newsvote.bbc.co.uk/favicon.ico">
  </head>

  <body>
    <div class="page">
      <h1><a href="{{ url_for('_home') }}">R&amp;D Authorisation Server</a></h1>

      <script type="text/javascript"
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
      </script>
      <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>
      {% block body %}{% endblock %}
    </div>
  </body>
</html>
