[Unit]
Description=nmos-auth
Wants=network-online.target apache2.service
After=network.target network-online.target apache2.service

[Service]
Environment="AUTHLIB_INSECURE_TRANSPORT=1"
User=ipstudio
Restart=always
RestartSec=3
ExecStart=/usr/bin/nmosauth

[Install]
WantedBy=multi-user.target
Alias=nmos-auth.service ips-auth.service
