{% extends "layout.html" %}
{% block body %}
  {% if user %}
    <div>
      <span>Logged in as <strong>{{user.username}}</strong> (<a href="{{ url_for('_logout') }}">Log Out</a>)</span>
      <br>

      <p>
        <a href="{{ url_for('_create_client_get') }}">Create Client</a> |
        <a href="{{ url_for('_fetch_token') }}">Request Token</a> |
        <a href="{{ url_for('_get_cert') }}">Certificates</a></p>
    </div>

    <hr>

    {% for client in clients %}
    <strong>Client {{ loop.index }}</strong><br>
      {% for info, data in client.client_info.items() %}
        {{ info|string }} : {{ data|string }}<br>
      {% endfor %}<br>
      {% for info, data in client.client_metadata.items() %}
        {{ info|string }} : {{ data|string }}<br>
      {% endfor %}<br>
    {% endfor %}



  {% else %}
    <form action="" method="post">
      <p><input type="text" name="username" placeholder="username"></p>
      <p><input type="password" name="password"  placeholder="password"></p>
      <button type="submit">Login / Signup</button>
    </form>
    <p><a href="{{ url_for('_signup_get') }}">Signup</a></p>
  {% endif %}

  <div><p>{{ message }}</p></div>
{% endblock %}
