{% extends "layout.html" %}
{% block body %}
  {% if user %}
    <div>
      <span>Logged in as <strong>{{user.username}}</strong> (<a href="{{ url_for('_logout') }}">Log Out</a>)</span>
      <br>

      <p>
        <a href="{{ url_for('_create_client_get') }}">Create Client</a> |
        <a href="{{ url_for('_fetch_token') }}">Request Token</a> |
        <a href="{{ url_for('_get_cert') }}">Certificates</a></p>
    </div>

    <hr>

    {% for client in clients %}
    <button class="collapsible"><strong>Client {{ loop.index }} - {{ client.client_name }}</strong>
    <sup><a href="{{ url_for('_delete_client', client_id=client.client_id) }}"> delete</a></sup></button>
      <div class="content">
        {% for info, data in client.client_info.items() %}
          <p>{{ info|string }} : {{ data|string }}</p>
        {% endfor %}<br>
        {% for info, data in client.client_metadata.items() %}
          <p>{{ info|string }} : {{ data|string }}</p>
        {% endfor %}
      </div><br>
    {% endfor %}

    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight) {
            content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          }
        });
      }
    </script>



  {% else %}
    <form action="" method="post">
      <p><input type="text" name="username" placeholder="username"></p>
      <p><input type="password" name="password"  placeholder="password"></p>
      <button type="submit">Login / Signup</button>
    </form>
    <p><a href="{{ url_for('_signup_get') }}">Signup</a></p>
  {% endif %}

  <div><p>{{ message }}</p></div>
{% endblock %}
