{% extends "layout.html" %}
{% block body %}

<br>
<form action="" method="post">
  <label>
    <input type="text" name="username" id="username" placeholder="username"><br>
  </label>
  <label>
    <input type="text" name="password" id="password" placeholder="password"><br>
  </label>
  <label>
    <input type="text" name="is04" id="is04" placeholder="IS-04 Access Rights"><br>
  </label>
  <label>
    <input type="text" name="is05" id="is05" placeholder="IS-05 Access Rights"><br>
  </label>
  <button type="submit">Signup</button>
</form>


<br />


{% endblock %}
